<%= link_to(group, class: 'text-decoration-none') do %>
  <div class="card mt-3 mx-2 flex-row p-2">
    <div class="align-self-start">
      <%= tag.img src: group.icon, class: 'square-big' %>
    </div>
    <div class="mx-2 d-flex flex-column justify-content-between w-100">
      <div class="d-flex w-100 justify-content-between align-items-center pt-1 fs-5">
        <p class="text-black-50"><%= group.name %></p>
      </div>
      <small class="text-black-50 align-self-start">
        <%= group.created_at.strftime("%d %B %Y") %>
      </small>
    </div>
  </div>
<% end %>
