<%= form_with(model: grouped_payment, local: true) do |form| %>
  <% if grouped_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grouped_payment.errors.count, "error") %> prohibited this grouped_payment from being saved:</h2>

      <ul>
      <% grouped_payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
